

body {

    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #11998e;  
  background: -webkit-linear-gradient(to right, #61b9e2, #939998);  
  background: linear-gradient(to right, #38a6ef, #7e8584); 
  }


.moviesCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1.5rem ;   
    width: 97%;  
}